
<div class="mx-auto max-w-7xl px-4 sm_px-6 lg:px-8 py-8">
  <div class="mx-auto max-w-3xl">
    <p>Hello dashboard!</p>
    <% @boards.each do |board| %>
      <div class="w-full  h-100 max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 m-3">
        <div class="flex justify-end pt-2 px-3">
          <button id="dropdownButton" data-dropdown-toggle="dropdown-<%= board.id %>" class="inline-block text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-1.5" type="button">
              <span class="sr-only">Open dropdown</span>
              <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 3">
                  <path d="M2 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm6.041 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM14 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Z"/>
              </svg>
          </button>
          <!-- Dropdown menu -->
          <div id="dropdown-<%= board.id %>" class="z-10 hidden text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
              <ul class="py-2" aria-labelledby="dropdownButton">
              <li>
                <%= link_to "Edit", edit_board_path(board), class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white" %>
              </li>
              <li>
                <%= link_to "Delete", board_path(board), data: { "turbo-method": :delete }, class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white" %>
              </li>
              <li>
                  <a href="#" class="block px-4 py-2 text-sm text-red-600 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Delete</a>
              </li>
              </ul>
          </div>
        </div>
        <div class="flex flex-col items-center pb-1">
          <div class="grid gap-6 mb-6 md:grid-cols-12">
            <div class="col-span-3">
              <img class="w-16 h-16 mb-3 rounded-full shadow-lg" src="/assets/tasks.png" alt="Bonnie image"/>
            </div>
            <div class="col-span-9">
              <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white"><%= link_to board.name, board_path(board), class: "hover:text-blue-700" %></h5>
              <span class="text-sm text-gray-500 dark:text-gray-400">Description</span>
              <span class="text-sm text-gray-500 dark:text-gray-400">Date time</span>
            </div>
          </div>
          <%# <div class="flex mt-4 md:mt-6">
              <a href="#" class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Add friend</a>
              <a href="#" class="py-2 px-4 ms-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Message</a>
          </div> %>
        </div>
      </div>
    <% end %>
  </div>
</div>