<div class="mx-auto max-w-8xl px-4 sm_px-6 lg:px-8">
  <div class="mb-5">
    <%= link_to "+ New Member",  board_board_users_path(@board), class: "btn text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"%>
  </div>
  <div class="mx-auto max-w-full">
    <p>Inside New Board</p>
    <div 
      data-controller="board" 
      id="board"
      data-api-url="<%= api_board_lists_path(@board) %>"
      data-list-positions-api-url="<%= api_board_list_positions_path(@board) %>"
      data-board-lists-url="<%= board_lists_path(@board) %>"
      data-item-positions-url="<%= api_item_positions_path %>"
      class="flex flex-wrap-reverse">
      <%= render "shared/modal" %>       
      </div>
  </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js"></script>

<%# <script src="https://cdn.jsdelivr.net/npm/jkanban@1.2.0/dist/jkanban.min.js"></script> %>




<%# <script> 
  document.addEventListener("DOMContentLoaded", function() {
    console.log("Hola")
  var kanban = new jKanban({
      element: '#board',
      boards: [
      {
        id: "board-id-1",
        title: "Board Title",
        class: "bg-blue-700, rounded-lg, border, border-blue-300, shadow-lg, p-4, text-white",
        item: [
          {
            id: "item-id-1",
            title: "Item 1",
            class: ["rounded-lg", "border", "border-blue-300", "shadow-lg", "p-4", "bg-white"],  // Asegúrate de que las clases sean un array de strings
          },
          {
            id: "item-id-2",
            title: "Item 2"
          }
        ]
      },
      {
        id: "board-id-2",
        title: "Board Title 2"
      }
    ]
    });

    document.querySelector('#board').addEventListener('touchstart', function(event) {
      event.preventDefault(); // This will not trigger the passive error
    }, { passive: false });
  });
</script> %>

